.splitter-child {
  width: 1440px;
  height: 72px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.fluentlocation-28-regular-icon,
.fluentlocation-28-regular-icon1 {
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.icround-pin-drop-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.div,
.div1 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.div1 {
  font-weight: 500;
}
.parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.frame-wrapper,
.icround-pin-drop-parent,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icround-pin-drop-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frame-wrapper {
  width: 313px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.frame-child {
  width: 1px;
  height: 51px;
  position: relative;
  border-right: 1px solid var(--color-darkslategray-300);
  box-sizing: border-box;
  z-index: 1;
}
.line-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.ant-designclock-circle-filled-icon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.ant-designclock-circle-filled-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.div2 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.div2,
.div3,
.group {
  align-self: stretch;
}
.div3 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.group {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.frame-container,
.frame-div,
.frame-group,
.group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.frame-container,
.frame-group {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.frame-container {
  flex: 1;
  gap: var(--gap-5xs);
  margin-left: -71px;
}
.frame-group {
  width: 574px;
}
.clarityphone-handset-solid-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.a,
.div4 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 124px;
  white-space: nowrap;
  z-index: 1;
}
.a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.clarityphone-handset-solid-parent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.clarityphone-handset-solid-parent,
.frame-parent,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.frame-parent {
  width: 1110px;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.splitter-item {
  width: 1111px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkslategray-300);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.frame-item,
.splitter {
  background-color: var(--color-white);
  max-width: 100%;
}
.splitter {
  align-self: stretch;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xl);
  box-sizing: border-box;
  gap: 10.3px;
}
.frame-item {
  height: 77px;
  width: 1440px;
  position: relative;
  display: none;
}
.d22fbb98-580c-4dcf-a380-02b65f-icon {
  align-self: stretch;
  width: 207px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  min-height: 41px;
  z-index: 1;
}
.a1,
.a2 {
  white-space: nowrap;
}
.a1 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 58px;
  z-index: 1;
}
.a2 {
  min-width: 99px;
}
.a2,
.a3,
.a4 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  z-index: 1;
}
.a3 {
  min-width: 113px;
  white-space: nowrap;
}
.a4 {
  min-width: 76px;
}
.frame-wrapper2,
.parent1 {
  display: flex;
  align-items: flex-start;
}
.parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper2 {
  width: 501px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-2xs) 17px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-inner {
  height: 40px;
  width: 179px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumslateblue-100);
  display: none;
}
.a5 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  background-color: var(--color-mediumslateblue-100);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.adjustable-primary-large:hover,
.rectangle-group:hover,
.stepper-form:hover {
  background-color: var(--color-royalblue);
}
.connection,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-146xl) var(--padding-lg) 154px;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.connection {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.03);
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
.affordable-truck-service {
  margin: 0;
  position: absolute;
  top: 226px;
  left: 165px;
  font-size: inherit;
  line-height: 76px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 540px;
  z-index: 1;
}
.lorem-ipsum-dolor {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.label {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 122px;
}
.adjustable-primary-large {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 37px;
  background-color: var(--color-mediumslateblue-100);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.frame-wrapper3,
.lorem-ipsum-dolor-sit-amet-co-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.lorem-ipsum-dolor-sit-amet-co-parent {
  align-self: stretch;
  gap: var(--gap-13xl);
  debug_commit: bf4bc93;
}
.frame-wrapper3 {
  width: 496px;
  padding: 0 0 190px;
  box-sizing: border-box;
  min-width: 496px;
  min-height: 318px;
  max-width: 100%;
}
.d-render-fleet-delivery-vehicl-icon {
  margin-left: -17px;
  width: 1176px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 102%;
}
.d-render-fleet-delivery-vehicl-wrapper {
  width: 1159px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 1159px;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-parent1 {
  position: absolute;
  top: 183px;
  left: 165px;
  width: 1275px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  row-gap: 20px;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-400);
}
.desktop-1 {
  align-self: stretch;
  height: 712px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: 60px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.b,
.lorem-ipsum-dolor1 {
  position: absolute;
  top: 29px;
  left: 396px;
  font-size: var(--font-size-21xl);
  text-align: center;
}
.lorem-ipsum-dolor1 {
  top: 95px;
  left: 450px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-400);
  display: inline-block;
  width: 540px;
}
.b1,
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 25px;
  left: 28px;
  display: inline-block;
  width: 366px;
}
.lorem-ipsum-dolor2 {
  top: 98px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  width: 222px;
}
.pngitem-1125131-1-icon {
  position: absolute;
  top: 113px;
  left: 505px;
  width: 274px;
  height: 181px;
  object-fit: contain;
}
.parent2 {
  position: absolute;
  top: 184px;
  left: 62px;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  width: 425px;
  height: 322px;
  overflow: hidden;
}
.b2,
.lorem-ipsum-dolor3 {
  position: absolute;
  top: 25px;
  left: 28px;
  display: inline-block;
  width: 366px;
}
.lorem-ipsum-dolor3 {
  top: 98px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  width: 222px;
}
.pngitem-1125131-1-icon1 {
  position: absolute;
  top: 113px;
  left: 505px;
  width: 274px;
  height: 181px;
  object-fit: contain;
}
.parent3 {
  position: absolute;
  top: 184px;
  left: 507px;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  width: 425px;
  height: 322px;
  overflow: hidden;
}
.b3,
.lorem-ipsum-dolor4 {
  position: absolute;
  top: 25px;
  left: 28px;
  display: inline-block;
  width: 366px;
}
.lorem-ipsum-dolor4 {
  top: 98px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  width: 222px;
}
.pngitem-1125131-1-icon2 {
  position: absolute;
  top: 113px;
  left: 505px;
  width: 274px;
  height: 181px;
  object-fit: contain;
}
.parent4 {
  position: absolute;
  top: 184px;
  left: 953px;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  width: 425px;
  height: 322px;
  overflow: hidden;
}
.b4,
.lorem-ipsum-dolor5 {
  position: absolute;
  top: 25px;
  left: 28px;
  display: inline-block;
  width: 249px;
}
.lorem-ipsum-dolor5 {
  top: 98px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  width: 222px;
}
.pngitem-1125131-1-icon3 {
  position: absolute;
  top: 113px;
  left: 505px;
  width: 274px;
  height: 181px;
  object-fit: contain;
}
.parent5 {
  position: absolute;
  top: 533px;
  left: 62px;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  width: 425px;
  height: 322px;
  overflow: hidden;
}
.b5,
.lorem-ipsum-dolor6 {
  position: absolute;
  top: 25px;
  left: 28px;
  display: inline-block;
  width: 279px;
}
.lorem-ipsum-dolor6 {
  top: 98px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  width: 222px;
}
.pngitem-1125131-1-icon4 {
  position: absolute;
  top: 113px;
  left: 505px;
  width: 274px;
  height: 181px;
  object-fit: contain;
}
.parent6 {
  position: absolute;
  top: 533px;
  left: 507px;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  width: 425px;
  height: 322px;
  overflow: hidden;
}
.b6,
.lorem-ipsum-dolor7 {
  position: absolute;
  top: 25px;
  left: 28px;
  display: inline-block;
  width: 279px;
}
.lorem-ipsum-dolor7 {
  top: 98px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  width: 222px;
}
.pngitem-1125131-1-icon5 {
  position: absolute;
  top: 113px;
  left: 505px;
  width: 274px;
  height: 181px;
  object-fit: contain;
}
.parent7 {
  position: absolute;
  top: 533px;
  left: 953px;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  width: 425px;
  height: 322px;
  overflow: hidden;
}
.desktop-2 {
  align-self: stretch;
  height: 916px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.h1,
.lorem-ipsum-dolor8 {
  margin: 0;
  position: relative;
}
.h1 {
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor8 {
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.lorem-ipsum-dolor-sit-amet-co-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 54px;
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-400);
}
.desktop-6-inner,
.lorem-ipsum-dolor-sit-amet-co-wrapper,
.parent8 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.parent8 {
  width: 648px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.desktop-6-inner {
  width: 1046px;
  flex-direction: row;
  justify-content: center;
}
.h3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.engine-carens-automotive-motor-icon {
  height: 271px;
  width: 340px;
  position: absolute;
  margin: 0 !important;
  right: -227px;
  bottom: -213px;
  object-fit: cover;
  mix-blend-mode: multiply;
  z-index: 1;
}
.parent9 {
  width: 366px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.lorem-ipsum-dolor9 {
  margin: 0;
  width: 253px;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  display: inline-block;
}
.frame-parent4 {
  align-self: stretch;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-9xl) var(--padding-94xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
}
.h31 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.pngitem-1125131-1-icon6 {
  height: 242px;
  width: 431px;
  position: absolute;
  margin: 0 !important;
  right: -348px;
  bottom: -184px;
  object-fit: cover;
  mix-blend-mode: multiply;
  z-index: 1;
}
.parent10 {
  width: 249px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.lorem-ipsum-dolor10 {
  margin: 0;
  width: 222px;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  display: inline-block;
}
.frame-parent3,
.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.progress-bar {
  align-self: stretch;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  padding: var(--padding-6xl) var(--padding-9xl) var(--padding-94xl);
  gap: var(--gap-mini);
}
.frame-parent3 {
  flex: 1;
  gap: var(--gap-13xl);
  min-width: 328px;
  max-width: 100%;
}
.h32,
.lorem-ipsum-dolor11 {
  margin: 0;
  position: relative;
  display: inline-block;
}
.h32 {
  width: 366px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.lorem-ipsum-dolor11 {
  width: 222px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
}
.pngitem-1125131-1-icon7 {
  width: 274px;
  height: 181px;
  position: relative;
  object-fit: contain;
  display: none;
  z-index: 2;
}
.lovepik-com-401744084-car-wash-icon {
  width: 507px;
  height: 215px;
  position: absolute;
  margin: 0 !important;
  right: -150px;
  bottom: 0;
  object-fit: cover;
  z-index: 1;
}
.parent11 {
  align-self: stretch;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-xl) var(--padding-94xl)
    var(--padding-9xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-mini);
  max-width: 100%;
}
.h33,
.lorem-ipsum-dolor12 {
  margin: 0;
  position: relative;
  display: inline-block;
}
.h33 {
  width: 366px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.lorem-ipsum-dolor12 {
  flex: 1;
  min-width: 144px;
}
.accef6ee4240381543d482643a7b4e-icon {
  height: 174px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 142px;
}
.lorem-ipsum-dolor-sit-amet-co-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
}
.frame-parent5,
.parent12 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent12 {
  align-self: stretch;
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  display: flex;
  padding: var(--padding-6xl) 0 15px var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
}
.frame-parent5 {
  flex: 1;
  gap: var(--gap-13xl);
  min-width: 328px;
}
.desktop-6,
.frame-parent2,
.frame-parent5 {
  display: flex;
  max-width: 100%;
}
.frame-parent2 {
  width: 1046px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-5xl);
}
.desktop-6 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 29px var(--padding-xl) 58px;
  box-sizing: border-box;
  gap: 48px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.h11 {
  margin: 0;
  width: 540px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.lorem-ipsum-dolor13,
.lorem-ipsum-dolor14,
.lorem-ipsum-dolor15 {
  display: block;
}
.lorem-ipsum-dolor-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-400);
}
.desktop-3-inner,
.parent13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.parent13 {
  align-self: stretch;
  gap: var(--gap-base);
}
.desktop-3-inner {
  flex: 1;
  padding: 4px 0 0;
  box-sizing: border-box;
  min-width: 374px;
}
.b7 {
  position: absolute;
  top: 11px;
  left: 22px;
}
.wrapper {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: 58px;
  background-color: var(--color-mediumslateblue-100);
  overflow: hidden;
  flex-shrink: 0;
}
.b8,
.nunc-odio-in {
  align-self: stretch;
  position: relative;
}
.b8 {
  height: 22px;
  display: inline-block;
}
.nunc-odio-in {
  flex: 1;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
}
.frame-parent7,
.parent14 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent14 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.frame-parent7 {
  width: 311px;
  flex-direction: row;
  gap: var(--gap-15xl);
  color: var(--color-white);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 29px;
  background-color: var(--color-white);
  border: 1px dashed var(--color-silver);
  box-sizing: border-box;
  width: 2px;
  height: 68px;
}
.rectangle-wrapper {
  width: 60px;
  height: 60px;
  position: relative;
}
.b9 {
  position: absolute;
  top: 11px;
  left: 20px;
}
.frame {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-45xl);
  background-color: var(--color-gainsboro-100);
  overflow: hidden;
  flex-shrink: 0;
}
.b10,
.lorem-ipsum-dolor16 {
  align-self: stretch;
  position: relative;
}
.b10 {
  height: 22px;
  display: inline-block;
}
.lorem-ipsum-dolor16 {
  flex: 1;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
}
.frame-parent8,
.parent15 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent15 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.frame-parent8 {
  width: 311px;
  flex-direction: row;
  gap: var(--gap-15xl);
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 29px;
  background-color: var(--color-white);
  border: 1px dashed var(--color-silver);
  box-sizing: border-box;
  width: 2px;
  height: 68px;
}
.rectangle-container {
  width: 60px;
  height: 60px;
  position: relative;
}
.b11 {
  position: absolute;
  top: 11px;
  left: 19px;
}
.wrapper1 {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-45xl);
  background-color: var(--color-gainsboro-100);
  overflow: hidden;
  flex-shrink: 0;
}
.b12,
.lorem-ipsum-dolor17 {
  align-self: stretch;
  position: relative;
}
.b12 {
  height: 22px;
  display: inline-block;
}
.lorem-ipsum-dolor17 {
  flex: 1;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
}
.frame-parent9,
.parent16 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent16 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.frame-parent9 {
  width: 311px;
  flex-direction: row;
  gap: var(--gap-15xl);
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 29px;
  background-color: var(--color-white);
  border: 1px dashed var(--color-silver);
  box-sizing: border-box;
  width: 2px;
  height: 68px;
}
.rectangle-frame {
  width: 60px;
  height: 60px;
  position: relative;
}
.b13 {
  position: absolute;
  top: 11px;
  left: 19px;
}
.wrapper2 {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-45xl);
  background-color: var(--color-gainsboro-100);
  overflow: hidden;
  flex-shrink: 0;
}
.b14,
.lorem-ipsum-dolor18 {
  align-self: stretch;
  position: relative;
}
.b14 {
  height: 22px;
  display: inline-block;
}
.lorem-ipsum-dolor18 {
  flex: 1;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
}
.parent17 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.frame-parent10,
.frame-parent6,
.parent17 {
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent10 {
  width: 311px;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: var(--gap-15xl);
}
.frame-parent6 {
  height: 452px;
  display: none;
  flex-direction: column;
  font-size: var(--font-size-13xl);
  color: var(--color-mediumslateblue-100);
}
.icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.wrapper3 {
  height: 110px;
  width: 175.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.icon1 {
  height: 127px;
  width: 129px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.icon2 {
  height: 74px;
  width: 131px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.wrapper4 {
  width: 417px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.icon3 {
  align-self: stretch;
  height: 48px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.wrapper5 {
  height: 104px;
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.renault-vector-logo-1 {
  height: 161px;
  width: 141px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.frame-parent13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.desktop-3,
.frame-parent11 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent11 {
  width: 464px;
  flex-direction: column;
  align-items: flex-end;
  gap: 31.5px;
  min-width: 464px;
}
.desktop-3 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: 63px var(--padding-146xl) 66px;
  box-sizing: border-box;
  gap: 70px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.h12 {
  margin: 0;
  width: 506px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.lorem-ipsum-dolor19,
.lorem-ipsum-dolor20,
.lorem-ipsum-dolor21 {
  display: block;
}
.lorem-ipsum-dolor-container1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-400);
}
.desktop-4-inner,
.parent18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.parent18 {
  align-self: stretch;
  gap: 41px;
}
.desktop-4-inner {
  width: 540px;
  padding: 96px 0 0;
  box-sizing: border-box;
  min-width: 540px;
}
.card-container-icon {
  border: 0;
  height: 541px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 460px;
}
.desktop-4 {
  align-self: stretch;
  background-color: #f4f4f4;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-146xl);
  box-sizing: border-box;
  gap: 27px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.h13 {
  margin: 0;
  width: 540px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.wrapper6 {
  width: 1110px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.tag-input-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.tablet-layout,
.tablet-layout1,
.tablet-layout2,
.thumbnail-grid {
  height: 8px;
  width: 21px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-100);
}
.tablet-layout,
.tablet-layout1,
.tablet-layout2 {
  width: 8px;
  background-color: var(--color-mediumslateblue-200);
}
.tablet-layout-parent {
  justify-content: flex-start;
  gap: 5px;
}
.frame-wrapper4,
.tablet-layout-parent,
.thumbnail-grid-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.thumbnail-grid-parent {
  justify-content: flex-start;
  gap: 13px;
}
.frame-wrapper4 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.desktop-5,
.tag-input-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.tag-input-parent {
  width: 1110px;
  height: 589px;
  align-items: flex-start;
  gap: var(--gap-4xl);
}
.desktop-5 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: 56px var(--padding-xl);
  box-sizing: border-box;
  gap: 39px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.truck-driver-opening-reservoir-icon {
  position: absolute;
  top: 0;
  left: -204px;
  width: 1708px;
  height: 978px;
  object-fit: contain;
}
.h14,
.lorem-ipsum-dolor22 {
  margin: 0;
  position: relative;
  font-family: var(--font-inter);
  text-align: left;
}
.h14 {
  width: 540px;
  font-size: 56px;
  font-weight: 700;
  color: var(--color-darkslategray-100);
  display: inline-block;
  max-width: 116%;
  flex-shrink: 0;
}
.lorem-ipsum-dolor22 {
  align-self: stretch;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-400);
}
.header-copy {
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-base);
  max-width: 100%;
}
.frame-child3,
.frame-parent14,
.group-input,
.header-copy {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child3,
.group-input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-mediumslateblue-300);
  height: 56px;
  border-radius: var(--br-5xs);
  flex-direction: row;
  padding: var(--padding-lgi) var(--padding-3xl) var(--padding-lg);
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  min-width: 250px;
}
.frame-parent14 {
  flex-direction: column;
  gap: var(--gap-4xl);
}
.b15 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 98px;
}
.stepper-form {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-xl);
  background-color: var(--color-mediumslateblue-100);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.tabbed-forms,
.unsplashgbvdile8yvi {
  background-color: var(--color-white);
  overflow: hidden;
  max-width: 100%;
}
.tabbed-forms {
  margin: 0;
  position: absolute;
  top: 70px;
  left: 664px;
  border-radius: 15px;
  width: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 39px 71px 40px;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  z-index: 1;
}
.unsplashgbvdile8yvi {
  align-self: stretch;
  height: 687px;
  position: relative;
  flex-shrink: 0;
}
.layer-icon {
  width: 1440px;
  height: 391px;
  position: relative;
  display: none;
  max-width: 100%;
}
.d269a11-dba2-4b7f-9935-7713a70-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 40px;
  object-fit: contain;
  z-index: 1;
}
.div5 {
  position: relative;
  font-weight: 500;
  min-width: 81px;
  z-index: 1;
}
.div5,
.div6,
.div7,
.div8 {
  display: inline-block;
}
.div6,
.div7 {
  position: relative;
  min-width: 57px;
  z-index: 1;
}
.div8 {
  min-width: 97px;
}
.div10,
.div8,
.div9 {
  position: relative;
  z-index: 1;
}
.div10 {
  display: inline-block;
  min-width: 75px;
}
.parent19,
.parent20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent20 {
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.parent19 {
  position: absolute;
  top: 0;
  left: 276px;
  gap: var(--gap-mini);
}
.div11 {
  font-weight: 500;
  display: inline-block;
  min-width: 95px;
}
.decision-maker,
.decision-maker1,
.decision-maker2,
.decision-maker3,
.div11 {
  position: relative;
  z-index: 1;
}
.decision-maker-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.akar-iconswhatsapp-fill {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.akar-iconswhatsapp-fill,
.output-processor {
  position: relative;
  z-index: 1;
}
.akar-iconswhatsapp-fill-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.icround-pin-drop-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
  z-index: 1;
}
.div12 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.icround-pin-drop-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-parent16 {
  align-self: stretch;
  gap: var(--gap-mini);
}
.frame-parent15,
.frame-parent16,
.parent21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent15 {
  align-self: stretch;
  gap: var(--gap-lgi);
  font-size: var(--font-size-base);
}
.parent21 {
  position: absolute;
  top: 0;
  left: 574px;
  width: 309px;
  gap: var(--gap-mini);
}
.div13,
.facebook-icon {
  position: relative;
  z-index: 1;
}
.div13 {
  font-weight: 500;
}
.facebook-icon {
  height: 23.4px;
  width: 23.4px;
  min-height: 23px;
}
.truck-service-official {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.facebook-parent,
.truck-service-official-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.truck-service-official-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs-2) 0 0;
}
.facebook-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-4xs);
}
.instagram-icon {
  height: 23.4px;
  width: 23.4px;
  position: relative;
  min-height: 23px;
  z-index: 1;
}
.truck-service-official1 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.truck-service-official-container {
  flex-direction: column;
  padding: var(--padding-10xs-2) 0 0;
}
.frame-parent17,
.instagram-parent,
.parent22,
.truck-service-official-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instagram-parent {
  flex-direction: row;
  gap: var(--gap-4xs);
}
.frame-parent17,
.parent22 {
  flex-direction: column;
}
.frame-parent17 {
  align-self: stretch;
  gap: 14px;
  font-size: var(--font-size-base);
}
.parent22 {
  position: absolute;
  top: 0;
  left: 872px;
  width: 317.4px;
  gap: var(--gap-mini);
}
.d269a11-dba2-4b7f-9935-7713a70-parent {
  align-self: stretch;
  height: 213px;
  position: relative;
}
.fluentlocation-28-regular-icon2,
.fluentlocation-28-regular-icon3 {
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.social-icons-white-instagr {
  width: 28px;
  height: 28px;
  position: relative;
  display: none;
}
.fluentlocation-28-regular-icon4 {
  overflow: hidden;
  flex-shrink: 0;
}
.fluentlocation-28-regular-icon4,
.social-icons-white-instagr1 {
  width: 28px;
  height: 28px;
  position: relative;
  display: none;
}
.decision-tree {
  align-self: stretch;
  height: 0.7px;
  position: relative;
  border-top: 0.7px solid #474747;
  box-sizing: border-box;
  z-index: 1;
}
.copyright-truck {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.decision-tree-parent {
  flex: 1;
  flex-direction: column;
  gap: 17.3px;
  max-width: 100%;
}
.data-hub,
.decision-tree-parent,
.footer-2,
.footer-2-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-2-inner {
  width: 1148px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: 12px;
  color: #d9dbe1;
}
.data-hub,
.footer-2 {
  flex-direction: column;
  text-align: left;
  font-family: var(--font-inter);
}
.footer-2 {
  align-self: stretch;
  background-color: #1a1a1a;
  overflow: hidden;
  padding: 50px 104px var(--padding-lgi) 146px;
  box-sizing: border-box;
  gap: 67px;
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.data-hub {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
}
@media screen and (max-width: 1350px) {
  .frame-wrapper3 {
    flex: 1;
  }
  .d-render-fleet-delivery-vehicl-icon {
    align-self: stretch;
    width: auto;
  }
  .d-render-fleet-delivery-vehicl-wrapper {
    flex: 1;
    min-width: 100%;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .desktop-1 {
    height: auto;
    min-height: 712;
  }
  .frame-parent11 {
    flex: 1;
  }
  .desktop-3 {
    flex-wrap: wrap;
    gap: 35px;
    padding-left: var(--padding-63xl);
    padding-right: var(--padding-63xl);
    box-sizing: border-box;
  }
  .desktop-4-inner {
    flex: 1;
  }
}
@media screen and (max-width: 1125px) {
  .desktop-6 {
    padding-top: var(--padding-xl);
    padding-bottom: 38px;
    box-sizing: border-box;
  }
  .frame-parent11 {
    min-width: 100%;
  }
  .desktop-4 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .rectangle-parent {
    padding-left: 77px;
    padding-right: var(--padding-63xl);
    box-sizing: border-box;
  }
  .affordable-truck-service {
    font-size: var(--font-size-29xl);
    line-height: 61px;
  }
  .frame-wrapper3 {
    min-width: 100%;
  }
  .b,
  .h1 {
    font-size: var(--font-size-13xl);
  }
  .lorem-ipsum-dolor-sit-amet-co-wrapper {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .frame-parent3 {
    gap: var(--gap-base);
  }
  .lorem-ipsum-dolor-sit-amet-co-group {
    gap: var(--gap-lg);
  }
  .frame-parent5 {
    gap: var(--gap-base);
  }
  .frame-parent2 {
    gap: var(--gap-lg);
  }
  .desktop-6 {
    gap: 24px;
  }
  .h11 {
    font-size: var(--font-size-19xl);
  }
  .desktop-3-inner {
    min-width: 100%;
  }
  .b11,
  .b13,
  .b7,
  .b9 {
    font-size: var(--font-size-7xl);
  }
  .desktop-3 {
    gap: var(--gap-mid);
    padding: var(--padding-22xl) var(--padding-22xl) 43px;
    box-sizing: border-box;
  }
  .h12 {
    font-size: var(--font-size-19xl);
  }
  .parent18 {
    gap: var(--gap-xl);
  }
  .card-container-icon,
  .desktop-4-inner {
    min-width: 100%;
  }
  .h13 {
    font-size: var(--font-size-19xl);
  }
  .desktop-5 {
    gap: var(--gap-lgi);
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .h14 {
    font-size: 45px;
  }
  .footer-2 {
    gap: 33px;
    padding-left: 73px;
    padding-right: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .affordable-truck-service {
    font-size: 36px;
    line-height: 46px;
  }
  .b {
    font-size: var(--font-size-5xl);
  }
  .b1,
  .b2,
  .b3,
  .b4,
  .b5,
  .b6 {
    font-size: var(--font-size-lgi);
  }
  .h1 {
    font-size: var(--font-size-5xl);
  }
  .h3,
  .h31,
  .h32,
  .h33 {
    font-size: var(--font-size-lgi);
  }
  .lorem-ipsum-dolor-sit-amet-co-group {
    flex-wrap: wrap;
  }
  .desktop-6 {
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .h11 {
    font-size: var(--font-size-10xl);
  }
  .b11,
  .b13,
  .b7,
  .b9 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent12 {
    flex-wrap: wrap;
  }
  .frame-parent13 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent11 {
    gap: var(--gap-base);
  }
  .h12 {
    font-size: var(--font-size-10xl);
  }
  .desktop-4-inner {
    padding-top: 62px;
    box-sizing: border-box;
  }
  .h13 {
    font-size: var(--font-size-10xl);
  }
  .desktop-5 {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
  .h14 {
    font-size: 34px;
  }
  .div11,
  .div13,
  .div5 {
    font-size: var(--font-size-base);
  }
  .footer-2 {
    gap: var(--gap-mid);
    padding: 32px var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
